venv/
.idea/
__pycache__/
*.pyc

model/models/distilbert_crisis_classifier/checkpoint-*/
model/models/distilbert_crisis_classifier/*.bin
model/models/distilbert_crisis_classifier/*.safetensors
model/models/distilbert_crisis_classifier/pytorch_model.*
model/models/distilbert_crisis_classifier/model.safetensors

model/**/*.pt
model/**/*.pth
model/**/*.ckpt
model/**/*.bin
model/**/*.safetensors